@font-face {font-family: "Arial Rounded MT Bold"; src: url(../../fonts/ARLRDBD_0.TTF);}
@font-face {font-family: "Draper"; src: url(../../fonts/Draper.woff);}    

.arialRnd
{
font-family: "Arial Rounded MT Bold";  
  
}

.jsComment
{
color:#997a00;  
}  

.button
{
  text-decoration:none; 
  color:blue; 
  background-color:lightgray;
  border:1px solid gray;
  border-radius:0.3em;
}

.button:hover
{
 font-size:1.01em; 
 box-shadow:0 0 10px black; 
}

.toTop
{
  color:blue;
  padding:0.2% 0.5%;
  border:1px solid black;
  border-radius:0.4em 
}

.toTop:hover
{
 font-size:0.9em; 
 box-shadow:0 0 10px black; 
}

.exampTable
{
border:2px solid black; 
border-radius:.5em;
margin:0 2.5% 0 2.5%;
width:95%; 
line-height:120%; 
background-color:#006600; 
font-family:monospace;
padding:0 0.5% 1.0% 0.5%;
color:white 
}

.exampTable2
{
border:2px solid black; 
border-radius:.5em;
margin:0 2.5% 0 2.5%;
width:95%; 
line-height:120%; 
background-color:#007744; 
font-family:monospace;
padding:0 0.5% 1.0% 0.5%;
color:white 
}

.hlt_01
{
color:#ffff00; 
background-color:blue; 
border-radius:0.3em
}

.expression
{
font-size:1.15em; 
padding:2%; 
line-height:160%; 
background-color:#004400; 
border-radius:0.3em;
border:1px solid lime;  
}
.expressionValue
{
font-size:1.1em; 
padding:2%; 
line-height:160%; 
background-color:#004400; 
border-radius:0.3em; 
border:1px solid lime;  
  
}

.descText
{
padding:1%; 
vertical-align:middle; 
font-family:monospace; 
text-align:center;   
}

.toExplain
{
background-color:#004400;
border-radius:0.3em;
border:1px solid lime  
  
}